i.fas.fa-baby.autopost {
  color: @primary-color;
  font-size: 15px;
  vertical-align: middle;
}
i.fas.fa-child.autopost{
  color: @primary-color;
  font-size: 15px;
  vertical-align: middle;
}
i.fas.fa-bullhorn.autopost{
  color: @primary-color;
  font-size: 15px;
  vertical-align: middle;
}
i.fas.fa-chalkboard-teacher.autopost{
  color: @primary-color;
  font-size: 15px;
  vertical-align: middle;
}
i.fab.fa-optin-monster.autopost{
  color: @primary-color;
  font-size: 15px;
  vertical-align: middle;
}
i.fas.fa-graduation-cap.autopost{
  color: @primary-color;
  font-size: 15px;
  vertical-align: middle;
}
span.username {
  margin-right: 8px;
}
span.auto-badge {
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  background: #e8ecf3;
}

